setuptools 
wheel
torch  --index-url https://download.pytorch.org/whl/cu124
torchvision --index-url https://download.pytorch.org/whl/cu124
torchaudio --index-url https://download.pytorch.org/whl/cu124
scikit-learn
twelvedata
pandas
plotly
matplotlib
nvidia-cuda-runtime-cu12
